body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  margin: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}
#title {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1em;
}

.nav-links .right {
  margin-left: auto;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member {
  flex: 1 0 30%; /* This means that each team member will take up 30% of the width of the .team-members container. Adjust this value as needed. */
  margin: 1em;
}

.team-member img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
