---
const documentPath = "/Hovedrapport_Delirium_UTEN.pdf";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Delirium</title>
    <link rel="icon" href="/LOGO_delirium.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="flex flex-col h-screen overflow-hidden ">
      <header class="w-full text-center border-b border-grey p-4 align-middle bg-[#f1f1f2]">
        <div class="flex justify-between align-middle">
          <div>
            <img
              src="/LOGO_delirium.svg"
              alt="Delirium"
              class="object-contain h-20 w-30"
            />
          </div>
          <div class=" ">
            <h1 class="font-bold">The delirium report</h1>
            <a
              href={documentPath}
              target="_blank"
              rel="noopener noreferrer"
              class=""
            >
              Click here to read the report
            </a>
          </div>
        </div>
      </header>

    <main class="flex-1 overflow-y-scroll">
      <div>
        <img src="/Delirium.png" alt="" class="h-auto max-w-full" />
      </div>

      <div class="w-full bg-[#5F7F9D]"></div>
    </main>

    <footer class="w-full text-center border-t border-grey p-4 bg-[#f1f1f2]">
      Følg oss på instagram
    </footer>
  </body>
</html>
