---
import MySiteLayout from "../layouts/layout.astro";
const { title } = Astro.props;
const groupName = "Delirium";
---

<MySiteLayout title="{groupName}">
  <section class="text-center p-6 bg-gradient-to-tr from-deliriumyellow to-deliriumred">
    <h2 class="text-3xl font-bold mb-4 text-white">Welcome to {groupName}</h2>
    <p class="mb-6 text-white">
      We are a team of talented individuals dedicated to disrupting the skies
      and silencing the drones.
    </p>
    <p class="mb-6 text-white">
      Our project is focused on developing a system designed to test the
      resilience of drones against GPS interference. By simulating GPS jamming
      and spoofing attacks, we aim to identify vulnerabilities within Kongsberg
      Defence and Aerospace's drone technologies. This initiative is about
      challenging our products in controlled environments, ensuring they are
      robust and secure against real-world threats.
    </p>
  </section>

  <section
    class="text-center p-6 bg-deliriumwhite"
  >
    <h2 class="text-3xl font-bold mb-4">Meet Our Team</h2>
    <p class="mb-6">Get to know the professionals.</p>

    <div
      class="grid grid-cols-2 gap-10 justify-items-center align-items-center"
    >
      <div class="max-w-sm bg-white rounded-lg shadow-lg p-4">
        <img src="/Stian.jpg" alt="Stian" class="w-full h-auto rounded-lg" />
        <h3 class="text-xl font-semibold mt-3">Stian</h3>
        <p class="text-gray-600">
          The Code Conjurer - With a keyboard as his wand and a mind brimming
          with spells of logic, Stian weaves enchantments into software,
          crafting the digital keys to disrupt the skies and ground the drones.
        </p>
      </div>

      <div class="max-w-sm bg-white rounded-lg shadow-lg p-4">
        <img src="/Anders.jpg" alt="Anders" class="w-full h-auto rounded-lg" />
        <h3 class="text-xl font-semibold mt-3">Anders</h3>
        <p class="text-gray-600">
          The Algorithm Alchemist - In the labyrinth of code, Anders mixes
          potions of algorithms, transforming base data into golden insights
          that navigate our quest to silence the drones' whispering wings.
        </p>
      </div>

      <div class="max-w-sm bg-white rounded-lg shadow-lg p-4">
        <img src="/Helge.jpg" alt="Helge" class="w-full h-auto rounded-lg" />
        <h3 class="text-xl font-semibold mt-3">Helge</h3>
        <p class="text-gray-600">
          The Power Sage - Drawing from the ancient wells of electrons, Helge
          ensures our devices thrive not just on power but on wisdom. Under his
          guidance, our gadgets sip energy, ready to stand the test of time and
          drones.
        </p>
      </div>

      <div class="max-w-sm bg-white rounded-lg shadow-lg p-4">
        <img
          src="/Andreas.jpg"
          alt="Andreas"
          class="w-full h-auto rounded-lg"
        />
        <h3 class="text-xl font-semibold mt-3">Andreas</h3>
        <p class="text-gray-600">
          The Circuitry Craftsman - Amidst a forest of wires and the scent of
          soldering, Andreas sculpts the heart of our project. His creations
          buzz with the power to mute the skies, grounding drones with an
          electric whisper.
        </p>
      </div>
    </div>
  </section>

    <!-- Project Sprints -->
<section class="text-center p-6 bg-deliriumblue">
  <h2 class="text-3xl font-bold mb-4 text-black ">Project Sprints</h2>
  <h2 class="text-3xl font-bold mb-4 text-black font-sans">Project Sprints </h2>
  
  
</section>
    

</MySiteLayout>
